<h1>Create Category</h1>

<form method="post">
    <label>Name: &nbsp; &nbsp; &nbsp; &nbsp;</label>
    <input  name="name"/>
    <br /><br />
    <label>Description: </label>
    <input name="description"/>

    <button type="submit">Save</button>
</form>