<h1>Create Product</h1>

<form method="post">
    <label>Name: &nbsp; &nbsp; &nbsp; &nbsp;</label>
    <input  name="name"/>
    <br /><br />
    <label>Description: </label>
    <input name="description"/>
    <br /><br />
    <label>Price: &nbsp; &nbsp; &nbsp; &nbsp; </label>
    <input name="price" />
    <input name="CategoryId" value="5" />
    <button type="submit">Save</button>
</form>