@model List<product>

   
<div id="searchResult">
    <div>
        <form method="post">
            <input id="valueSearch" name="search" />
            <button type="button" id="searchbtn">Search</button>
        </form>
        <button>New</button>
    </div>



   @* <h1>Create Product</h1>

    <form method="post">
        <label>Name: &nbsp; &nbsp; &nbsp; &nbsp;</label>
        <input name="name" />
        <br /><br />
        <label>Description: </label>
        <input name="description" />
        <br /><br />
        <label>Price: &nbsp; &nbsp; &nbsp; &nbsp; </label>
        <input name="price" />
        <input name="CategoryId" value="5" />
        <button type="submit">Save</button>
    </form>*@

    <table>
        <thead>
            <tr>
                <td>
                    Product Name
                </td>

                <td>
                    Category
                </td>
                <td>
                    Price
                </td>
                <td>
                    Actions
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.name
                    </td>

                    <td>
                        @item.category
                    </td>
                    <td>
                        @item.price
                    </td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#searchbtn').click(function () {
            var searched = $('#valueSearch').val();
                $.ajax({
                    url:' @Url.Action("productTable", "Product")',
                    data: { search: searched },
                    type: 'GET',
                    success: function (response) {
                    $('#searchResult').html(response);
                    },
                    error: function (xhr, status, error) {
                        alert('An error occurred while performing the search.');
                    }
                });
            });
        });
    </script>

   